.atom {
    border: 1px solid #02bada;
    padding: 5px;
}

.title {
    color: #02bada;
}

.atom [a-n] {
    border: 1px dashed #02bada;
    border-radius: 10px;
    margin: 20px;
    padding: 5px 10px;
}

.atom .main-buttons {
    margin-bottom: 6px;
    padding: 6px;
}

.bottom {
    margin-top: 10px;
    text-align: right;
    /* border-style: dotted; */
    border: 1px dotted #02bada;
}