.atom {
    border: 1px solid red; padding: 5px;
}

.atom [data-atomic-nucleus] {
    border: 1px dashed blue;
    padding: 5px 10px;
}

.atom .main-buttons {
    margin-bottom: 6px;
    padding: 6px;
}

.bottom {
    text-align: right;
    border: 1px solid #F0F;
}